@import "../main.css"; 

.cart-header {
    font-size: 20px;
    color: #9b9999;
    font-weight: normal;
}

.summary {
    border:solid 1px #8f0c63; 
    border-radius: 10px;
}

.cart-item {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.item {
    flex: 1;
}

.price {
    flex: 1;
}

.quantity {
    flex: 1;
}

.checkout {
    float: right;
    margin: 10px 0px;
    width: 30%;
    border:solid 1px #8f0c63;
    border-radius: 10px;
    background-color: white;
    height: 60px;
    text-align: center;
}

.checkout:hover {
    border: solid 1px #b983a7;
    background-color:  #b983a7;
    color: white;
}

.subtotal {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #9b9999;
    padding: 15px;
}

#subtotal {
    margin-left: 10px;
}